.AddFlex{
  display: flex;
  flex-direction: row;
}
.Content{
  padding: 30px;
}
.mainDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.getSaparate{
  display: flex;
    gap:30px;
}
